! Specify NTP servers
{% for server in data.InfraDevice.edges[0].node.location.node.servers.edges %}
ntp server {{ server.node.name.value }}
{% endfor %}

{% if data.InfraDevice.edges[0].node.location.node.servers.edges|length > 0 %}
ntp enable
{% else %}
ntp disable
{% endif %}
